:root {
    --main-bg-color: #232427;
    --main-fg-color: #FBFAF5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.main_page {
    width: 100%;
    height: 75vh;
    text-align: center;
}

.main_page__paragraph {

}

.main_page__logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main_page__logo > .logo {
    min-width: 340px;
    min-height: 160px;
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    font-size: 3em;
    font-weight: 900;
    border-radius: 5px;
}

.main_page__logo > .logo > p:first-child {
    letter-spacing: 8px;
    padding-left: 8px;
}
